* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'figtree';
}

body{
    background-color: #F6D050;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
}

.card {
    background-color: white;
    width: 90%;
    padding: 1.2rem;
    border: 0.1rem solid black;
    border-radius: 1rem;
    box-shadow: 0.4rem 0.4rem 0 black;
}

.card_image {
    width: 100%;
    border-radius: 0.7rem;
    margin-bottom: 1rem;
}

.content_margin {
    margin-top: 1rem;
}

.card_date {
    margin-bottom: 1rem;
    padding-top: 1.2rem;
    font-size: 0.8rem;
    font-weight: 500;
}

.card_author-link {
    display: flex;
    align-items: center;
}

.author_image {
    width: 2rem;
}

.card_tag {
    padding: 0.4rem 0.7rem;
    background-color: #F6D050;
    font-size: 0.8rem;
    font-weight: 800;
    color: black;
    border-radius: 0.2rem;
}

.card_content {
    padding-top: 0.5rem;
}

.card_title {
    color: black;
    font-weight: 800;
    font-size: 1.1rem;
}

.card_description {
    font-size: 0.85rem;
    line-height: 1.3rem;
    color: rgb(75, 75, 75);
}

.author_name {
    margin-left: 0.9rem;
    font-size: 0.8rem;
    font-weight: 800;
    color: black;
}

@media (min-width: 450px){
    .card {
        width: 70%;
    }

    .card_title {
        font-size: 1.4rem;
    }

    .card_description {
        font-size: 0.9rem;
    }
}

@media (min-width: 600px){
    .card {
        width: 60%;
    }

    .card_title {
        font-size: 1.5rem;
    }
}

@media (min-width: 750px){
    .card {
        width: 50%;
    }
}

@media (min-width: 900px){
    .card {
        width: 40%;
    }
}

@media (min-width: 1100px){
    .card {
        width: 25%;
    }

    .card_tag {
        font-size: 0.8rem;
    }

    .card_title {
        transition: color 0.3s ease;
    }

    .card_title:hover {
        color: #F6D050;
    }
}